body {font-family: sans-serif;
font-weight: bold;
background: rgba(23, 131, 131, 0.848);}

section#box {
    background: wheat;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 200px 300px 200px 300px;
    box-shadow: 1px 1px 5px;
}

input{
    border-radius: 5px;
    font-family: sans-serif;
    padding: 5px 10px 5px 10px;
}

button {
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 85px 5px 85px ;
    font-size: 13pt;
}

h2#message {
    margin-top: 30px;
    text-align: center;
}

img#sexImg {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}
select#list {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 69px 5px 85px ;
}